<html>
  <head>
    <style>
      body {
      <%= if message.include?('Way too')
            "background: Red;"
          elsif message.include?('Too')
            "background: #FF8080;"
          elsif message == 'You got it right!'
            "background: Green;"
          end %>
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p> <%= message %></p>
    <p>
      <%= if message == 'You got it right!' || cheat == 'true'
            "The SECRET NUMBER is #{number}"
          end %>
    </p>
  </body>
</html>
